<!DOCTYPE html>
<html lang="en">
<head>
    <title>Flask Todos</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}" />
<body>
    <header></header>
    <main>
        <article>
            <section id="todo-app"></section>
        </article>
    </main>
    <footer></footer>
    <script type="application/javascript" src="{{ url_for('static', filename='js/app.min.js') }}"></script>
</body>
</html>