{% set font_awesome_href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" %}
{% set google_font_href = "https://fonts.googleapis.com/css?family=Alata&display=swap" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Flask Todos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preload" as="style" href="{{ font_awesome_href }}" />
    <link rel="stylesheet" type="text/css" href="{{ font_awesome_href }}" />
    <link rel="preload" href="{{ google_font_href }}" />
    <link rel="stylesheet" type="text/css" href="{{ google_font_href }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}" />
<body>
    <script type="application/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>